<div class="navbar navbar-expand-lg navbar-light">
    <a class="text-uppercase text-black text-decoration-none" [routerLink]="['/']"> <b> accueil </b> </a>
    <div class="collapse navbar-collapse w-75">
        <ul class=" header navbar-nav ml-auto ">
            <li class="nav-item pl-2"> <a class="nav-link text-black" [routerLink]="['/programme']"> <b class="text-uppercase"> programme </b> </a> </li>
            <li class="nav-item pl-2"> <a class="nav-link text-black" [routerLink]="['/cours']"> <b class="text-uppercase"> cours </b> </a> </li>
            <li class="nav-item pl-2"> <a class="nav-link text-black" [routerLink]="['/professeur']"> <b class="text-uppercase"> profs </b> </a> </li>
        </ul>
    </div>
</div> 
