<div class="container-fluid p-0">
    <div class="card-body">
        <h3 class="text-center">Administrer les cours</h3>
        <form [formGroup]="classForm" (ngSubmit)="onSubmit()">
            <table id="classTab" class="table table-dark">
                <thead>
                    <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Intitulé</th>
                    <th scope="col">Période</th>
                    <th scope="col">Nombre d'heures</th>
                    <th scope="col">Prof</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td> # </td>
                        <td> 
                            <input type="text" class="form-control" id="label" formControlName="label" placeholder="Intitulé">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="period" formControlName="period" placeholder="Période">
                        </td>
                        <td>
                            <input type="number" class="form-control" id="nbHour" formControlName="nbHour" placeholder="Nombre d'heure">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="teacher" formControlName="teacher" placeholder="Prof">
                        </td>
                        <td>
                            <textarea class="form-control" id="detail" formControlName="detail" rows="3" cols="25"></textarea>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-success text-uppercase text-center"> ajouter </button>
                        </td>
                    
                    </tr>         
                    <tr *ngFor="let class of myClasses">
                        <td > {{ class?.id }} </td>
                        <td > {{ class?.label }} </td>
                        <td > {{ class?.period }} </td>
                        <td > {{ class?.nbHour?.valeur }} {{ class?.nbHour?.unity }} </td>
                        <td > {{ class?.teacher }} </td>
                        <td > {{ class?.detail }} </td> 
                        <td > <button type="button" class="btn btn-danger text-uppercase text-center" (click)="deleteClass(class.id)"> supprimer </button> </td> 
                    </tr>
                </tbody>
            </table>
        </form>
            <div class="card-body">
                <div class="row bg-white">
                    <div class="col">
                        <button type="button" id="deleteAllBtn" class="btn-delete btn-outline-danger btn-lg btn-block text-uppercase text-center" 
                                (click)="deleteAll()"> tous suppimer 
                        </button>
                    </div>
                    <div id="reInitBtn" class="col" [ngClass]="{'btn_visible' : myClasses.length === 0, 'btn_invisible': myClasses.length > 0}">
                        <button type="button" class="btn-initialize btn-success btn-lg btn-block text-uppercase text-center" 
                                (click)="reInitBtn()"> réinitialiser le tableau                               
                        </button> 
                    </div> 
                </div>
            </div>
    </div>
</div>