<div class="container-fluid">
    <div class="row">
        <div class="col text-white text-uppercase text-center"> 
                <h2>méthodes informatiques<br/>
                    appliquées  à la gestion <br/>
                    des entreprises
                </h2> 
                
            <p class="text-white text-center">
                Bienvenue dans la gestion du programme MIAGE. Ici vous pouvez Administrer le <br/>programme de l'année, ajouter des cours, ajouter des profs
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col p-5 text-center">
            <button type="button" id="btn" class="btn btn-danger btn-lg text-uppercase text-center" (click)="goToProgramme()"><b> administrer</b></button>
        </div>
    </div>
</div>